@import "font.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

    font-family: "Roboto-Regular";
}
html{
    scroll-behavior: smooth;
}
body{
    min-width: 500px;
    background-color: rgb(27, 27, 27);
}
::-webkit-scrollbar {
    display: none;
    }
.fleche{
    width: 100%;
    animation-duration: 2s;
    animation-name: clignoter1;
    animation-iteration-count: infinite;
    transition: none;
    margin-top:10px
}
.fleche2{
    width: 100%;
    animation-duration: 2s;
    animation-name: clignoter2;
    animation-iteration-count: infinite;
    transition: none;
}
.fleche3{
    width: 100%;
    animation-duration: 2s;
    animation-name: clignoter3;
    animation-iteration-count: infinite;
    transition: none;
    margin-bottom: 10px;
}
.flechea{
    width: 100%;
    animation-duration: 2s;
    animation-name: clignoter1;
    animation-iteration-count: infinite;
    transition: none;
    margin-top:100px
}
.fleche2a{
    width: 100%;
    animation-duration: 2s;
    animation-name: clignoter2;
    animation-iteration-count: infinite;
    transition: none;
}
.fleche3a{
    width: 100%;
    animation-duration: 2s;
    animation-name: clignoter3;
    animation-iteration-count: infinite;
    transition: none;
    margin-bottom: 30px;
}
#scroll_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    border-style: solid;
    border-radius: 50%;
    padding: 10px;
    border-color: whitesmoke;
    border-width: 1px;
    z-index: 1;
    background-image:linear-gradient(rgb(27, 27, 27), rgb(123,102,255));
}
  #scroll_to_top:hover {
    transform: scale(1.05);
}
/***************************************************Header***************************************************************/
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}
.rond{
    display: block;
    visibility: hidden;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 50%;
    transform: translateY(50px);
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    font-family: "Montserrat-Regular";
    margin: auto;
}
nav a:hover{
    cursor: pointer;
    color: whitesmoke;
}
nav a:hover .rond{
    visibility: visible;
    transform: translateY(0px);
    transition: 250ms;
}
nav a:hover:nth-child(3){
    text-decoration: none;
}
a{
    text-decoration: none;
}
nav p{
    color: black;
    margin: auto;
    font-size: 50px;
    text-shadow: 1px 1px 5px rgb(123, 102, 255), 1px -1px 5px rgb(123, 102, 255), -1px 1px 5px rgb(123, 102, 255), -1px -1px 5px rgb(123, 102, 255), 1px -1px 5px rgb(123, 102, 255), -1px 1px 5px rgb(123, 102, 255), -1px -1px 5px rgb(123, 102, 255), -1px -1px 5px rgb(123, 102, 255);
}
nav p .M{
    position: absolute;
    margin-left: -16px;
    margin-top: 23px;
    z-index: -1;
}
header{
    background-color: rgb(27, 27, 27);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 45px;
}
nav .burger{
    display: none;
}
.nav{
    display: flex;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    display: none;
    margin-top: 15px;
}
.nav a{
    margin-top: 5px;
    color: whitesmoke;
    text-shadow: 2px 0 1px rgb(123, 102, 255);
    font-family: "Montserrat-Regular";
}
/***************************************************Section 1******************************************************/
#section_1{
    margin-top: 40px;
}
#section_1 img{
    width: 100%;
}
#section_1 h1{
    font-size: 40px;
    color: whitesmoke;
}
#section_1 h1 span{
    font-size: 40px;
    color: rgb(123, 102, 255);
}
#section_1 .nom span{
    color: whitesmoke;
}
#section_1 .nom{
    filter: blur(8px);
    text-align: center;
    display: none;
}
#section_1 .dvlp{
    animation: marquee 15s linear infinite;
}
#section_1 .full{
    animation: marquee 15s linear infinite;
}
/************************************Section 2***********************************/
#section_2 .portrait{
    text-align: center;
}
#section_2 h1{
    text-align: center;
}
#section_2 .nom{
    width: 100%;
    border-style: solid;
    border-color: whitesmoke;
    color: whitesmoke;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    font-size: 40px;
}
#section_2 p{
    text-align: justify;
    color: whitesmoke;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
#section_2 .CV{
    margin-top: 10px;
    text-align: center;
    color: whitesmoke;
    border-style: solid;
    border-color: rgb(123, 102, 255);
    color : rgb(123, 102, 255);
    width: 150px;
    margin: auto;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 50px;
    border-width: 2px;
}
#section_2 .CV:hover{
    background-color: rgb(123, 102, 255);
    transition: 250ms;
    transform: scale(1.05);
    border-color:whitesmoke;
}
#section_2 .acv{
    padding-left: 42px;
    padding-right: 42px;
    color: rgb(123, 102, 255);
}
#section_2 .CV:hover .acv{
    color: whitesmoke;
}
/*****************************************Section 3*************************************/
#section_3 .titre{
    padding-top: 80px;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 0 10px rgb(123, 102, 255);
    margin-top: 100px;
    width: 80%;
    margin: auto;
}
#section_3 .recadre{
    padding-top:50px;
}
#section_3 .logo{
    width: 80%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 1px 0 20px rgb(123, 102, 255);
    margin-top: 50px;
}
#section_3 .logo img{
    padding-top: 10px;
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
#section_3 .logo img:hover{
    transform: scale(1.1);
    transition: 250ms;
}
#section_3 .travail{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
#section_3 .travail img{
    margin: auto;
    margin-bottom: 5px;
}
#section_3 .travail img:hover{
    transform: translateY(-10px);
    transition: 250ms;
}
#section_3 .travail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#section_3 .comp{
    color: whitesmoke;
    border-right: solid rgb(123, 102, 255);
    border-left: solid rgb(123, 102, 255);
    padding-left: 10px;
    padding-right: 10px;
}
#section_3 .parcours{
    margin-top: 100px;
    display: flex;
}
#section_3 .cercle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    border-style: solid;
    border-color: rgb(123, 102, 255);
    cursor: pointer;
    z-index: 3;
}
#section_3 .cercle:hover{
    background-color: rgb(123, 102, 255);
    transition: 250ms;
}
#section_3 .cercle h3{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: whitesmoke;
    margin-top: 35%;
}
#section_3 .infos{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 150px;
    position: relative;
}
#section_3 #cercle1{
    background-color: rgb(123, 102, 255);
    border-style: solid;
    border-color: whitesmoke;
}
#section_3 .bac{
    opacity: 1;
    position: absolute;
    right: 0;
    left: 0;
}
#section_3 .iut{
    opacity:0;
    position: absolute;
    right: 0;
    left: 0;
}
#section_3 .bts{
    opacity:0;
    position: absolute;
    right: 0;
    left: 0;
}
#section_3 .dcg{
    opacity:0;
    position: absolute;
    right: 0;
    left: 0;
}
#section_3 .acs{
    opacity:0;
    position: absolute;
    right: 0;
    left: 0;
}
/**********************************Section 4***************************************/
#section_4{
    padding-top: 80px;
}
#section_4 .cadre{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 50px;
}
#section_4 p{
    padding-top: 20px;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 0 10px rgb(123, 102, 255);
}
#section_4 .projet{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
#section_4 img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(245, 245, 255, 0.548);
}
#section_4 img:hover{
    transform: scale(1.01);
    transition: 250ms;
}
#section_4 > a img{
    box-shadow: none;
}
#section_4 .projet img{
    z-index: 1;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: whitesmoke;
}

/*********************************Section 5***************************************/
#section_5 {
    text-align: center;
    margin-top: 50px;
}
#section_5 article {
    position: relative;
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.548);
    border-radius: 10px;
    width: 60%;
    max-width: 1200px;
    margin: auto;
    transition: box-shadow 1250ms;
}

#section_5 form {
    align-items: center;
    width: 50%;
    padding: 50px;
    transition: 500ms;
}

#section_5 form p {
    text-align: left;
    width: 100%;
    padding: 5px;
}

#section_5 label + input, #section_5 label + textarea {
    border: solid 1px rgb(123, 102, 255);
    border-radius: 2px;
    background-color: whitesmoke;
    width: 100%;
    padding: 5px;
    resize: vertical;
    transition: background-color 500ms;
}

#section_5 label + input:hover, #section_5 label + input:focus, #section_5 label + textarea:hover, #section_5 label + textarea:focus {
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
}
#section_5 form div {
    flex-wrap: nowrap;
    width: 100%;
}

#section_5 form div>* {
    flex: 1;
}

#section_5 form>input {
    border: none;
    border-radius: 4px;
    background-color: rgb(37, 37, 37);
    width: min-content;
    padding: 15px 25px;
    margin-top: 40px;
    cursor: pointer;
    transition: 125ms;
    letter-spacing: 2px;
    color: rgb(123, 102, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(123, 102, 255);
}

#section_5 form>input:hover, #section_5 form>input:focus {
    transform: scale(1.1);
    background-color: rgb(123, 102, 255);
    transition: 250ms;
    border-style: solid;
    border-color: whitesmoke;
    color: whitesmoke;
}

#section_5 .img {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/Screenshot_20220531_180703-removebg-preview.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    border-radius: 0 10px 10px 0;
    width: 50%;
    height: 100%;
    transition: 500ms 250ms;
}
#section_5 h5{
    font-size: 20px;
    color: whitesmoke;
}
#section_5 label{
    color: whitesmoke;
}
/***********************************footer*************************************/
footer{
    border-top: dashed;
    margin-top: 100px;
    color: whitesmoke;
    text-align: center;
    background: linear-gradient(rgb(27, 27, 27), rgba(122, 102, 255, 0.411));
}
footer .ligne{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer p{
    color: black;
    margin: auto;
    font-size: 50px;
    text-shadow: 1px 1px 5px rgb(123, 102, 255), 1px -1px 5px rgb(123, 102, 255), -1px 1px 5px rgb(123, 102, 255), -1px -1px 5px rgb(123, 102, 255), 1px -1px 5px rgb(123, 102, 255), -1px 1px 5px rgb(123, 102, 255), -1px -1px 5px rgb(123, 102, 255), -1px -1px 5px rgb(123, 102, 255);
}
footer #lignefooter a p span:hover .M{
    z-index: 0;
}
footer p .M{
    position: absolute;
    margin-left: -16px;
    margin-top: 23px;
    z-index: -1;
}
footer a:hover{
    text-decoration: underline;
}
footer a{
    color: black;
    font-weight: bold;
}
footer h1 span{
    color: rgb(123, 102, 255);
}
footer .ligne{
    margin-top: 20px;
}
footer button{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border-style: none;
}
footer .droit{
    padding-bottom: 10px; 
    padding-top: 5px;
    font-size: 10px;
    color: black;
}
footer img:hover{
    transform: scale(1.1);
    transition: 250ms;
}
#logofooter img:hover{
    transform: scale(1.0);
    transition: 250ms;
}
#logofooter{
    margin-top: 10px;
}
footer h3{
    color: black;
    font-weight: bold;
}
/*****************************Keyframes*******************************/
@keyframes clignoter1 {
    0%   { opacity:1; }
    50%   {opacity:0; }
    100% { opacity:0; }
  }
@keyframes clignoter2 {
    0%   { opacity:0; }
    40%   {opacity:1; }
    100% { opacity:0; }
  }
@keyframes clignoter3 {
    0%   { opacity:0; }
    40%   {opacity:0; }
    90% { opacity:1; }
  }
@keyframes carrousel1{
    0%   {transform: translateX(0%) }
    33% { transform: translateX(-100%) }
    66%   {transform: translateX(-200%) }
    100% { transform: translateX(0%) }
}
@keyframes carrousel2{
    0%   {transform: translateX(0%) }
    33% { transform: translateX(-100%) }
    66%   {transform: translateX(-200%) }
    100% { transform: translateX(0%) }
}
@keyframes carrousel3{
    0%   {transform: translateX(0%) }
    33% { transform: translateX(0%) }
    66%   {transform: translateX(-100%) }
    100% { transform: translateX(100%) }
}
@keyframes saut{
    50% {transform: translateY(-5px)}
    100% {transform: translateY(0px)}
}
/***************************Media Queries***************************/
/**************************Header****************************************/
@media screen and (max-width:850px){
    nav a {
        display: none;
    }
    nav a:nth-child(3){
        display: flex;
    }
    nav .burger{
        display: flex;
        margin: auto;
        position: absolute;
        right: 25px;
        margin-top: 25px;
    }
    nav .croix{
        display: flex;
        margin: auto;
        position: absolute;
        right: 25px;
        margin-top: 25px;
    }
    header{
        height: 60px;
    }
}
/************************Section 3**********************************/

/************************Section 5************************************/
@media screen and (max-width:1200px){
    #section_5 .img {
        width: 50%;
    }
    #section_5 form {
        width:60%;
    }
}
@media screen and (max-width:1000px){
#section_5 article{
    display: grid;
    grid-template-columns: 1fr;
}
#section_5 {
    text-align: center;
    margin-top: 100px;
}
#section_5 .img {
    position: relative;
    background: url(/img/Screenshot_20220531_180703-removebg-preview.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 500px;
    margin: auto;
    transition: 500ms 250ms;
}
#section_5 article {
    width: 60%;
}

#section_5 form {
    width: 100%;
}
}
@media screen and (max-width:640px){
    #section_5 article {
        width: 80%;
    }
    
    #section_5 form {
        width: 100%;
    }
}
/***********************Footer*******************************************/
@media screen and (max-width:450px){
    footer .ligne{
        display: grid;
        grid-template-columns: 1fr;
    }
    footer #reseaux{
        margin-top: 20px;
    }
}

/***************************************Popup**********************************/
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(27, 27, 27, 0);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    /*display: none;*/
}
#popup1{
    top: 0;
    left: 17%;
    margin: 10vh auto;
    position: fixed;
    width:65%;
    background-color: rgba(27, 27, 27, 0.800);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px rgba(245, 245, 245, 0.24);
    z-index: -2;
    opacity: 0;
    overflow-y: scroll;
    overflow-x:hidden;
    max-height: 80%;
    /*display: none;*/
}
#popup2{
    top: 0;
    left: 17%;
    margin: 10vh auto;
    position: fixed;
    width:65%;
    background-color: rgba(27, 27, 27, 0.800);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px rgba(245, 245, 245, 0.24);
    z-index: -2;
    opacity: 0;
    overflow-y: scroll;
    overflow-x:hidden;
    max-height: 80%;
    /*display: none;*/
}
#popup3{
    top: 0;
    left: 17%;
    margin: 10vh auto;
    position: fixed;
    width:65%;
    background-color: rgba(27, 27, 27, 0.800);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px rgba(245, 245, 245, 0.24);
    z-index: -2;
    opacity: 0;
    overflow-y: scroll;
    overflow-x:hidden;
    max-height: 80%;
    /*display: none;*/
}
::-webkit-scrollbar {
    display: none;
    }
.btnClose{
    float: right;
    cursor: pointer;
    color: whitesmoke;
    right: 10px;
    top: 10px;
    position: sticky;
    z-index: 2;
    color: white;
}
#popup1 .imageRestau1{
    border-radius: 10px 10px 0 0;
    width: 100%;
    transform: translateX(0%);
    transition: 250ms;
    z-index: 1;
    animation-duration: 11s;
    animation-name: carrousel1;
    animation-iteration-count: infinite;
    transition: none;
}
#popup1 .imageRestau2{
    border-radius: 10px 10px 0 0;
    width: 100%;
    position: absolute;
    transform: translateX(100%);
    transition: 250ms;
    animation-duration: 11s;
    animation-name: carrousel2;
    animation-iteration-count: infinite;
    transition: none;
}
#popup1 .imageRestau3{
    border-radius: 10px 10px 0 0;
    position: absolute;
    width: 100%;
    transform: translateX(200%);
    transition: 250ms;
    animation-duration: 11s;
    animation-name: carrousel3;
    animation-iteration-count: infinite;
    transition: none;
}
#popup2 .imageRestau1{
    border-radius: 10px 10px 0 0;
    width: 100%;
    transform: translateX(0%);
    transition: 250ms;
    z-index: 1;
    animation-duration: 11s;
    animation-name: carrousel1;
    animation-iteration-count: infinite;
    transition: none;
}
#popup2 .imageRestau2{
    border-radius: 10px 10px 0 0;
    width: 100%;
    position: absolute;
    transform: translateX(100%);
    transition: 250ms;
    animation-duration: 11s;
    animation-name: carrousel2;
    animation-iteration-count: infinite;
    transition: none;
}
#popup2 .imageRestau3{
    border-radius: 10px 10px 0 0;
    position: absolute;
    width: 100%;
    transform: translateX(200%);
    transition: 250ms;
    animation-duration: 11s;
    animation-name: carrousel3;
    animation-iteration-count: infinite;
    transition: none;
}
#popup3 .imageRestau1{
    border-radius: 10px 10px 0 0;
    width: 100%;
    transform: translateX(0%);
    transition: 250ms;
    z-index: 1;
    animation-duration: 11s;
    animation-name: carrousel1;
    animation-iteration-count: infinite;
    transition: none;
}
#popup3 .imageRestau2{
    border-radius: 10px 10px 0 0;
    width: 100%;
    position: absolute;
    transform: translateX(100%);
    transition: 250ms;
    animation-duration: 11s;
    animation-name: carrousel2;
    animation-iteration-count: infinite;
    transition: none;
}
#popup3 .imageRestau3{
    border-radius: 10px 10px 0 0;
    position: absolute;
    width: 100%;
    transform: translateX(200%);
    transition: 250ms;
    animation-duration: 11s;
    animation-name: carrousel3;
    animation-iteration-count: infinite;
    transition: none;
}
#popup1 h3{
    margin-top: 20px;
    color: whitesmoke;
    text-align: center;
}
#popup1 h1{
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}
#popup1 p span{
    color: rgba(123, 102, 255);
    text-align: center;
    padding-right: 20px;
}
#popup1 p{
    color: whitesmoke;
    text-align: center;
    text-align: left;
    text-align: center;
    line-height: 30px;
}
#popup1 .utilisation{
    text-align: center;
}
#popup1 .liens{
    text-align: center;
}
#popup1 .utilisation button{
    background-color: rgb(123, 102, 255);
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    margin-bottom: 5px;
}
#popup1 .utilisation button:hover{
    animation-duration: .5s;
    animation-name: saut;
    animation-iteration-count: infinite;
    transition: none;
}
#popup1 .liens button{
    background-color: transparent;
    padding: 10px;
    color: rgb(123, 102, 255);
    border-color: rgb(123, 102, 255);
}
#popup1 .liens button:hover{
    background-color: rgb(123, 102, 255);
    color: rgb(27, 27, 27);
    transition: 250ms;
}

#popup2 h3{
    margin-top: 20px;
    color: whitesmoke;
    text-align: center;
}
#popup2 h1{
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}
#popup2 p span{
    color: rgba(123, 102, 255);
    text-align: center;
    padding-right: 20px;
}
#popup2 p{
    color: whitesmoke;
    text-align: center;
    text-align: left;
    text-align: center;
    line-height: 30px;
}
#popup2 .utilisation{
    text-align: center;
}
#popup2 .liens{
    text-align: center;
}
#popup2 .utilisation button{
    background-color: rgb(123, 102, 255);
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    margin-bottom: 5px;
}
#popup2 .utilisation button:hover{
    animation-duration: .5s;
    animation-name: saut;
    animation-iteration-count: infinite;
    transition: none;
}
#popup2 .liens button{
    background-color: transparent;
    padding: 10px;
    color: rgb(123, 102, 255);
    border-color: rgb(123, 102, 255);
}
#popup2 .liens button:hover{
    background-color: rgb(123, 102, 255);
    color: black;
    transition: 250ms;
}


#popup3 h3{
    margin-top: 20px;
    color: whitesmoke;
    text-align: center;
}
#popup3 h1{
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}
#popup3 p span{
    color: rgba(123, 102, 255);
    text-align: center;
    padding-right: 20px;
}
#popup3 p{
    color: whitesmoke;
    text-align: center;
    text-align: left;
    text-align: center;
    line-height: 30px;
}
#popup3 .utilisation{
    text-align: center;
}
#popup3 .liens{
    text-align: center;
}
#popup3 .utilisation button{
    background-color: rgb(123, 102, 255);
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    margin-bottom: 5px;
}
#popup3 .liens button{
    background-color: transparent;
    padding: 10px;
    color: rgb(123, 102, 255);
    border-color: rgb(123, 102, 255);
}
#popup3 .utilisation button:hover{
    animation-duration: .5s;
    animation-name: saut;
    animation-iteration-count: infinite;
    transition: none;
}
#popup3 .liens button:hover{
    background-color: rgb(123, 102, 255);
    color: black;
    transition: 250ms;
}
/****************************flou**************************/
@import url('https://fonts.googleapis.com/css?family=Overpass');

 .left-side {
	 position: absolute;
	 height: 50px;
	 width: 100vw;
	 background: rgb(27, 27, 27);
	 overflow: hidden;
	 z-index: 3;
}
 .right-side {
	 position: absolute;
	 height: 50px;
	 width: 100vw;
	 background: rgb(27, 27, 27);
	 z-index: 3;
	 overflow: hidden;
}
 .hover {
	 position: absolute;
	 float: left;
	 height: 60px;
	 width: 60px;
	 cursor: none;
	 overflow: hidden;
}
 .bit-top {
	 position: absolute;
	 left: 0%;
	 top: 0%;
	 height: 5px;
	 width: 10px;
	 background: whitesmoke;
}
 .bit-top-left {
	 position: absolute;
	 left: 0%;
	 top: 5px;
	 height: 5px;
	 width: 5px;
	 background: whitesmoke;
}
 .bit-top-right {
	 position: absolute;
	 right: 0%;
	 top: 0%;
	 height: 5px;
	 width: 10px;
	 background: whitesmoke;
}
 .bit-top-right-2 {
	 position: absolute;
	 right: 0%;
	 top: 0px;
	 height: 10px;
	 width: 5px;
	 background: whitesmoke;
}
 .bit-bottom-left {
	 position: absolute;
	 bottom: 0%;
	 left: 0px;
	 height: 10px;
	 width: 5px;
	 background: whitesmoke;
}
 .bit-bottom-left-2 {
	 position: absolute;
	 bottom: 0%;
	 left: 0px;
	 height: 5px;
	 width: 10px;
	 background: whitesmoke;
}
 .bit-bottom-right {
	 position: absolute;
	 bottom: 0%;
	 right: 0px;
	 height: 5px;
	 width: 10px;
	 background: whitesmoke;
}
 .bit-bottom-right-2 {
	 position: absolute;
	 bottom: 0%;
	 right: 0px;
	 height: 10px;
	 width: 5px;
	 background: whitesmoke;
}
 .blur {
	 position: absolute;
	 color: whitesmoke;
	 font-family: 'Overpass', sans-serif;
	 font-size: 50px;
	 letter-spacing: 10px;
	 margin: auto;
	 width: 100%;
	 filter: blur(8px);
	 cursor: none;
	 overflow: hidden;
	 text-align: center;
	 z-index: 3;
     text-shadow: 0px 0px 10px rgb(123,102,255);
}
 .focus {
	 position: absolute;
	 color: whitesmoke;
	 font-family: 'Overpass', sans-serif;
	 font-size: 50px;
	 letter-spacing: 10px;
	 margin: auto;
	 width: 100%;
	 filter: blur(0px);
	 cursor: none;
	 overflow: hidden;
	 text-align: center;
	 z-index: 2;
}
 .container {
	 position: absolute;
	 height: 10vh;
	 width: 100%;
	 overflow: hidden;
}
@media screen and (max-width:850px){
    #focus-container{
        display: none;
    }
    .blur{
        display: none;
    }
    .focus{
        display: none;
    }
    #section_1 .nom{
        display: block;
    }
    .flechea{
        margin-top:30px
    }
}
/***************************bouton*********************************/
.portfolio-experiment{
    text-align: center;
    margin-bottom: 10px;
}
.portfolio-experiment a {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
}
.portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: rgb(123,102,255);
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}
.portfolio-experiment .line {
    position: absolute;
    background: rgb(123,102,255);
}
.portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
}
.portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
}
.portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}
.portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}
.portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}
.portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}
.portfolio-experiment a:hover .text, .portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:hover:after, .portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.portfolio-experiment a:hover .line, .portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
}
.portfolio-experiment a:hover .line.-right, .portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}
.portfolio-experiment a:hover .line.-top, .portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}
.portfolio-experiment a:hover .line.-left, .portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}
.portfolio-experiment a:hover .line.-bottom, .portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}
/***********************************Connexion************************************************************/
.login-form {
    width: 50%;
    margin: auto;
    position: relative;
    height: 100%;
    max-width: 570px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.login-form form {
    padding: 30px;
    background-color: rgba(122, 102, 255, 0.555);
    border-radius: 10px;
}
.login-form h2 {
    color:whitesmoke;
    margin-bottom:10px;
    text-align:center;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 10px;
    margin-bottom:10px;
    width:100%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px 5px black;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px -1px 0 #ffffff;
    border-color: whitesmoke;
    letter-spacing: 5px;
}
.btn:hover{        
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: black;
    letter-spacing: 5px;
}
#erreur{
    color: rgb(255, 88, 88);
    text-align: center;
    margin-bottom: 2px;
    font-family: 'Inter-Bold';
    background-color: rgba(122, 102, 255, 0.555);
    border-radius: 10px;
}
#incomplet{
    color: rgb(255, 173, 80);
    text-align: center;
    margin-bottom: 2px;
    font-family: 'Inter-Bold';
    background-color: rgba(122, 102, 255, 0.555);
    border-radius: 10px;
}
#reussie{
    color: rgb(100, 255, 80);
    text-align: center;
    margin-bottom: 2px;
    font-family: 'Inter-Bold';
    background-color: rgba(122, 102, 255, 0.555);
    border-radius: 10px;
}