/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-color: whitesmoke;
	border-radius: 50%;
	color: whitesmoke;
	margin: 5px;
}
.markItUp .markItUpButton2 a {
	background-image:url(images/button.svg);
	color: whitesmoke;
	margin: 5px;
	width: 60px;
	height: 20px;
}
.markItUp{
	margin-left: 10%;
}
.markItUpContainer {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    display: grid;
    align-content: space-evenly;
    justify-items: start;
    align-items: baseline;
}