/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	border-style: solid;
	border-color: aliceblue;
	content: "span •";
	height: 100px;
	width: 100px;
	color: whitesmoke;
}
.markItUp .markItUpButton2 a {
	background-image:url(images/italic.png);
	border-style: solid;
	border-color: aliceblue;

}
.markItUp{
	border-style: solid;
	width: 90vh;
	margin-left: 10%;
}
