@import "font.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(27, 27, 27);
}
::-webkit-scrollbar {
    display: none;
}
/****************************Header*********************************/
nav{
    display: flex;
}
nav a {
    text-decoration: none;
}