@import "../CSS/font.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

    font-family: "Roboto-Regular";
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(27, 27, 27);
    min-width: 380px;
}
::-webkit-scrollbar {
    display: none;
}
/****************************Header*********************************/
nav{
    display: flex;
    margin-bottom: 20px;
}
@media screen and (max-width:803px){
    nav{
        display: block;
    }
}
nav a {
    padding: 2rem 7rem;
    text-decoration: none;
    color: rgb(245, 245, 245);
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 10px;
}
nav form{
    text-align: right;
    margin-top: 15px;
    margin-right: 10px;
    width: 100%;
}
header{
    position: sticky;
    top: 0;
    background-color: rgb(27,27,27);
}
/***************************bouton Section1*********************************/
.portfolio-experiment{
    text-align: center;
    margin-bottom: 10px;
}
.portfolio-experiment a {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
}
.portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: rgb(123,102,255);
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}
.portfolio-experiment .line {
    position: absolute;
    background: rgb(123,102,255);
}
.portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
}
.portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
}
.portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}
.portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}
.portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}
.portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}
.portfolio-experiment a:hover .text, .portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:hover:after, .portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.portfolio-experiment a:hover .line, .portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
}
.portfolio-experiment a:hover .line.-right, .portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}
.portfolio-experiment a:hover .line.-top, .portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}
.portfolio-experiment a:hover .line.-left, .portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}
.portfolio-experiment a:hover .line.-bottom, .portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}
/******************************Section2************************/
#section_2 .cadre{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#section_2 .cadre img{
    width: 100%;
    border-radius: 10px;

}
#section_2 .projet{
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
@media screen and (max-width:950px){
    #section_2 .cadre{
        grid-template-columns: 1fr !important;
    }
}
.croix:hover{
    background-color:rgb(143, 63, 63);
    border-radius: 5px;
}
/**************************Popup nouveau******************/
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(27, 27, 27, 0);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    /*display: none;*/
}
#popup1{
    top: 0;
    left: 17%;
    margin: 10vh auto;
    position: fixed;
    width:65%;
    background-color: rgba(27, 27, 27, 0.800);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px rgba(245, 245, 245, 0.24);
    z-index: -2;
    opacity: 0;
    overflow-y: scroll;
    overflow-x:hidden;
    max-height: 80%;
    /*display: none;*/
}
#popup1 form button{
    background-color: transparent;
    border-style: none;
    color: whitesmoke;
    font-size: 20px;
    cursor:pointer;
}
#popup1 form{
    text-align: center;
}
#popup1 .form-group{
    width: 100%;
    margin-bottom: 5px;
}
#popup1 .form-group input{
    width: 80%;
    border-style: solid;
    border-color: whitesmoke;
    height: 40px;
    border-radius:5px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 5px rgb(75, 63, 143);
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
}
#popup1 .form-group textarea{
    width: 52vw !important;
    border-style: solid;
    border-color: whitesmoke;
    border-radius:5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 5px rgb(75, 63, 143);
    color: whitesmoke;
    resize: vertical;
    padding-top: 10px;
}
#popup1 h2{
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgb(75, 63, 143);
}
/**************************Popup******************/
#popup{
    top: 0;
    left: 17%;
    margin: 10vh auto;
    position: fixed;
    width:65%;
    background-color: rgba(27, 27, 27, 0.800);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px rgba(245, 245, 245, 0.24);
    z-index: -2;
    opacity: 0;
    overflow-y: scroll;
    overflow-x:hidden;
    max-height: 80%;
    text-align: center;
    /*display: none;*/
}
::-webkit-scrollbar {
    display: none;
}
#popup form button{
    background-color: transparent;
    border-style: none;
    color: whitesmoke;
    font-size: 20px;
    cursor:pointer;
}
#popup1 form{
    text-align: center;
}
#popup .form-group{
    width: 100%;
    margin-bottom: 5px;
}
#popup .form-group input{
    width: 80%;
    border-style: solid;
    border-color: whitesmoke;
    height: 40px;
    border-radius:5px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 5px rgb(75, 63, 143);
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
}
#popup .form-group textarea{
    width: 80%;
    border-style: solid;
    border-color: whitesmoke;
    border-radius:5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 5px rgb(75, 63, 143);
    color: whitesmoke;
    resize: vertical;
    padding-top: 10px;
}
#popup h2{
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgb(75, 63, 143);
}
#popup .file{
    color:whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    text-align: center;
    width: 80px;
    border-width: 1px;
    border-radius: 10px;
    cursor:pointer;
    margin-left: 10%;
}
#popup .file:hover{
    color:black;
    background-color: whitesmoke;
}

/***************************bouton Popup*********************************/
.portfolio-experiment{
    text-align: center;
    margin-bottom: 10px;
}
.portfolio-experiment button {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
}
.portfolio-experiment button .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment button:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: rgb(123,102,255);
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}
.portfolio-experiment .line {
    position: absolute;
    background: rgb(123,102,255);
}
.portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
}
.portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
}
.portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}
.portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}
.portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}
.portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}
.portfolio-experiment button:hover .text, .portfolio-experiment button:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment button:hover:after, .portfolio-experiment button:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.portfolio-experiment button:hover .line, .portfolio-experiment button:active .line {
    transform: scale3d(1, 1, 1);
}
.portfolio-experiment button:hover .line.-right, .portfolio-experiment button:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}
.portfolio-experiment button:hover .line.-top, .portfolio-experiment button:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}
.portfolio-experiment button:hover .line.-left, .portfolio-experiment button:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}
.portfolio-experiment button:hover .line.-bottom, .portfolio-experiment button:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}
/****************************************Bouton Déconnexion******************************************************/
.button {
    padding: 2rem 7rem;
    background: white;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    will-change: transform; 
}
  
.button-mat {
    border: 0px transparent;
    border-radius: .3rem;
    transition: .3s ease-in-out;
    transition-delay: .35s;
    overflow: hidden; 
}
.button-mat:before {
    content: '';
    display: block;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1); 
}
.button-mat:hover .psuedo-text {
    color: white; 
}
.button-mat:hover {
    color: transparent; 
}
.btn-1 {
    letter-spacing: .05rem;
    transition: .5s all ease-in-out;
    position: relative;
    background: transparent; 
    border-style: none;
    color: whitesmoke;
}
.btn-1:before {
    border-top: .3rem solid rgb(123,102,255);
    border-bottom: .3rem solid rgb(123,102,255);
    display: block;
    position: absolute;
    background: transparent;
    content: '';
    top: 0;
    bottom: 0;
    left: 100%;
    right: 100%;
    transition: .48s all ease-in-out; 
}
.btn-1:hover {
    letter-spacing: .4rem; 
}
.btn-1:hover:before {
    left: 25%;
    right: 25%; 
}